
# python3 -m venv venv
# source venv/bin/activate
# pip install -r requirements.txt

# Устанавливаем Playwright (необходимо для работы DeepSeek API)
#playwright install chromium

# ============================================
# Основные зависимости (обязательные)
# ============================================
requests
playwright
pyyaml 


